#create_expense .create_expense_card {
    background-color: #f0f8ff;
}
#create_expense .more_padding {
    background-color: white;
}
.main_info {
    border: 1px solid rgb(76, 142, 203);
    border-radius: 8px;
    background-color: rgb(202, 229, 254);
    height: 47px;
}

.create_expense_p {
    font-family: 'poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #464646;
}

.badge.rounded-pill.bg-primary {
    background-color: #fff !important;
    color: #48a8dd;
    width: 30%;
    border: 1px solid #48a8dd !important;
    padding: 0.55em 0.9em !important;
    font-size: 13px !important;
}

.card.shadow-none.border {
    border: 1px solid #48a8dd !important;
}

.margin_top {
    margin-top: -1% !important;
}

.dropdown {
    border: 1px solid #cfc9c9;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.dropdown-menu {
    width: 100%;
}

.drop_main_div .more_padding {
    padding-bottom: 0px !important;
    /* background-color: #f0f8ff; */
    box-shadow: unset !important;
}

.drop_main_div .sub_expense_div:nth-of-type(even) {
    background-color: #F0F8FF;
}

.form-control {
    font-size: 12px;
}

.names {
    color: #4c4c4c;
    font-size: 12px;
}

.bulk {
    font-size: 12px;
}

.cross i {
    font-size: 20px;
}

.btns_last {
    font-size: 14px;
    font-family: poppins, sans-serif;
    /* font-weight: 600; */
    line-height: 21px;
    width: 140.73px;
    height: 32px;
    border-radius: 4px;
}

.create_form_span {
    padding: 15px;
    font-size: large;
    border-radius: 0px;
}

.create_form_span i {
    color: orange;
    font-size: 16px;
}

.create_expense_p i {
    font-size: 16px;
    line-height: 1.3;
    color: orange;
}

.drop_font {
    font-size: 12px;
}

.form-label {
    font-size: 12px;
}

.italics {
    font-style: italic;
}

.approver {
    color: rgb(8, 105, 0) !important;
}

.create_expense_p {
    margin-top: 5px;
}

#sidebar_menu.open~.content_main_open {
    margin-left: 250px;
}

.content_main_open {
    margin-left: 89px;
}

.content_main_open .activity_log_div {
    margin-left: -12px !important;
}

.content_main_open .notes_div {
    margin-right: -12px !important;
}

/* when sidebar opens header css start */
#header {
    margin-left: 89px;
}

body:has(#sidebar_menu.open) #header {
    max-width: calc(1423px - 250px);
    margin-left: 250px;
}

/* when sidebar open header css closed */


/* when sidebar opens sidebar css start */
#sidebar_menu {
    top: 0;
}

/* when sidebar opens sidebar css closed */

.minus_btn,
.plus_btn {
    width: 24.82px;
    height: 26.74px;
    border-radius: 50px;
}

.plus_btn i {
    top: -7px;
    font-size: 12px;
    right: 6px;
    position: relative;
}

.minus_btn i {
    top: -8px;
    font-size: 12px;
    right: 5px;
    position: relative;
}
.activity_span , .notes {
    padding: 15px;
     font-size: large;
}
.no_record h5 {
    font-size: 13px;
}
.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
 padding: 2px !important; 
 background-color: white;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px !important;
    margin-top: -4px;
}
.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    /* padding: 7.5px 4px 7.5px 5px !important; */
    font-size: 12px !important;

}
.bulk_btn {
    height: 32px;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    /* padding: 6.0px 14px !important; */
    background-color: white !important;
    font-size: 12px !important;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px !important;
}
.main_head {
    font-size: 15px;
}
.clear_btn i {
    font-size: 12px;
}
.clear_btn {
    background-color: #b90101;
    color: white;
}
.clear_btn:hover {
    background-color: #b90101;
    color: white;
}
.mh_col2 {
    line-height: 0;
}

/* header */

#header {
    position: sticky;
    top: 0px;
    z-index: 1005;
}

#header .navbar {
    padding: 10px 24px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
}

#header .hamburger svg {
    cursor: pointer;
}

#header input {
    font-size: 15px;
    line-height: 1.8;
}

#header .notification {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f5f9;
}

#header .avatar img {
    width: 40px;
    height: 40px;
}

#header .avatar-indicators:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 5%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 2px solid #fff;
    display: table;
}

#header .avatar-online:before {
    background-color: #198754;
}

#header .box {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in;
    right: 71px;
    top: 54px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0px 0px 1px rgba(60, 66, 87, 0.05),
        0px 3px 6px rgba(60, 66, 87, 0.1), 0px 9px 24px rgba(60, 66, 87, 0.2);
}

#header .box .linee {
    border-bottom: 1px solid #dfe3e8;
}

#header .avatar~.box {
    right: 23px;
}

#header .notification:hover~.box,
#header .box:hover,
#header .avatar:hover~.box,
#header .avatar:hover {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

#header .box h4 {
    font-size: 18px;
}

#header .box .list-box {
    max-height: 300px;
    overflow-y: auto;
}

#header .box .list-box::-webkit-scrollbar {
    width: 4px;
}

#header .box .list-box .list {
    padding: 16px 20px;
    cursor: pointer;
}

#header .box .list-box .list:not(:first-child) {
    border-top: 1px solid #dfe3e8;
}

#header .box .list-box .list h5 {
    font-size: 15px;
    color: #212b36;
}

#header .box .list-box .list p {
    font-size: 14px;
    color: #637381bf;
}

#header .box .see-all-notifications {
    border-top: 1px solid #dfe3e8;
    font-size: 14px;
}

#header .box .see-all-notifications a {
    color: #9acd32;
}

#header .box .name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    padding-bottom: 8px;
}

#header .box .name h6 {
    font-size: 15px;
}

#header .avatar~.box {
    padding: 16px 20px;
    width: 180px;
}

#header .box .name a {
    font-size: 12px;
    color: #161c24;
}

#header .box ul {
    list-style-type: none;
    padding: 8px 0px 0px 0px;
}

#header .box ul li {
    padding: 5px 0px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#header .box ul li:hover {
    color: #9acd32;
}

#header .box ul li img {
    width: 14px;
}

#header .box ul li span {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 1px;
}



/* sidebar */

#sidebar_menu {
    /* background-color: #2a3a44; */
    background-color: #0B2545;
    transition: all 0.4s ease-in-out;
    min-height: 100vh;
    overflow: hidden;
    height: 100%;
    position: fixed;
}

#sidebar_menu .main {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar_menu .main::-webkit-scrollbar-thumb {
    background: #616161;
    width: 4px;
}

#sidebar_menu .main::-webkit-scrollbar {
    width: 6px;
}

.wrapper {
    padding: 16px 24px;
    min-height: 100vh;
}

.close .wrapper {
    padding: 16px;
}

.open {
    width: 250px;
    min-width: 250px;
}

.close {
    width: 47px;
    min-width: 47px;
}

#sidebar_menu .icon {
    width: 14px;
    min-width: 14px;
}

#sidebar_menu .logo img {
    /* width: 180px; */
}

#sidebar_menu .shortLogo img {
    width: 30px;
}

#sidebar_menu span {
    font-size: 15px;
    color: #919eab;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    line-height: 1.8;
    white-space: nowrap;
}

#sidebar_menu span:hover,
#sidebar_menu .accordion .accordion-body ul li:hover {
    color: #ffffff;
}

#sidebar_menu h4 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.08rem;
    font-weight: 700;
    color: #454f5b;
}

#sidebar_menu .accordion .accordion-item,
#sidebar_menu .accordion button {
    background-color: transparent;
    padding: 0px;
    border: none;
    box-shadow: none;
}

#sidebar_menu .accordion button {
    font-weight: 500;
    line-height: 1.8;
    -webkit-transition: all 0.5s;
    white-space: nowrap;
    transition: all 0.5s;
}

#sidebar_menu .accordion button:focus {
    box-shadow: none;
}

#sidebar_menu .accordion .accordion-body ul {
    list-style-type: none;
    padding: 0px 0px 0px 12px;
}

#sidebar_menu .accordion .accordion-body ul li {
    padding: 4px 0px;
    color: #919eab;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
    white-space: nowrap;
}

#sidebar_menu .accordion-button::after {
    /* background-image: url("../../../assets/icons/arrow.svg"); */
    filter: brightness(0) invert(1);
    transform: scale(0.9);
    height: 24px;
    width: 24px;
}

#sidebar_menu i {
    color: #919eab;
}

#sidebar_menu:not(.open) span {
    display: none;
}


#create_expense1   {
    height: 300px;
}


/* hamburger */
#sidebar_menu {
    position: fixed;
    /* top: 0; */
    /* left: -50px;  */
    width: 89px;
    height: 100vh;
    /* background-color: #fff; */
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

#sidebar_menu.open {
    left: 0;
    /* Show sidebar when open class is added */
}


.hamburger {
    cursor: pointer;
}
.export_btn {
    background-color: #3788ff;
    border: 1px solid #3788ff;
}
.submit_config_modal {
    z-index: 9999 !important;
}


.amount_span {
    display: flex;
    justify-content: end;
}


.is-invalid12{
border: 1px solid red !important;
    border-radius: 8px !important;
}



.custom-datepicker .rs-picker-toggle-placeholder {
    color: red !important; /* Change to your desired color */
    font-style: italic;
  }




.class_span { 
    color:#d32f2f;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}


.is-invalid12 .rs-input ::placeholder {
     font-size: 11px  ;
     color:"red";
}