

.fsdfgsdfsd {
     width : 250px   !important
}
.MuiDrawer-root.MuiDrawer-modal.transition_dinbe.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
        /* position: static !important; */
        /* z-index: -1 !important; */
}

 .MuiDrawer-root.MuiDrawer-modal.transition_dinbe.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
     /* position: static !important; */

}
.closed {
      width :55px  !important;
}

.fsdfgsdfsd {
     width : 250px   !important
}




.css-1hskriy {
     width :100% !important
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
     overflow: hidden;
     background-color: black !important;
}
.MuiDrawer-root button.css-ancrnh-MuiButtonBase-root-MuiIconButton-root{
     display: block;
     margin: 0 !important;
     padding: 0 !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
     padding: 15px;
}


.css-i4bv87-MuiSvgIcon-root,.css-10hburv-MuiTypography-root {
     color:#fff;
}

.css-10hburv-MuiTypography-root{
     width: 100%;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
     padding-left: 0 !important;
     padding-right: 0 !important;
}